@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
html{font-size: 62.5%;}
body{font-family: 'Poppins', sans-serif;}
body p{font-size: 1.4rem; line-height: 2.4rem; font-weight: 300;}
a.link{color:#8c44b2;}
a.link:hover{color: #555;}

/* navbar */
.navbar{
    /* position: absolute; */
    background: #32046ede;
    width: 100%;
    padding: 1.8rem;
}
.transparency{background: #32046eb3;}
.navbar-brand {color:#fff; font-size: 1.5rem;}
.navbar-collapse{color:#fff;}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link2 {
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #75fbe7;
}
.navbar img{margin-top: -5px;}
.navbar-expand-lg .navbar-nav .nav-link.active {
    font-weight: bold;

}


/* header */
header{
    padding: 7rem 0;
    background-image: url(./images/hero-full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    height: 60rem;
    margin-top: -80px;
}
header img{
    max-width: 100%;
}
.hero-text{padding: 8rem 0;}
header h5{font-size: 3rem; font-weight: 300; color: #75fbe7;}
header h1{font-size: 4.5rem; font-weight: bold; color: #fff;}
header h2{font-size: 4rem; font-weight: 300; color: #fff;}
header h2 span{font-weight: bold;}
header button.btn-primary, header button.btn-primary:visited{margin-top: 2rem; font-size: 2rem!important; background-color: #DB55ED; border:2px solid #DB55ED; color: #fff; font-weight: 600;}
header button.btn-primary:hover{background-color: transparent; color: #fff; border:2px solid #fff; }

/* section */

section{padding: 4.5rem 0;}
section h1{font-size: 3.7rem; font-weight: bold; color:#a447d7; display: inline-block;}
section h1:before{
    content: '';
    border-bottom: #8c44b254 1px solid;
    position: absolute;
    left: 50rem;
    margin-top: 2.5rem;
    width: calc(100% - 50rem);
}
section p b{font-weight: 600;}
section p.normal{
    margin-top: 3rem;
    margin-left: 4rem;
}
section p.lead{
    font-size: 1.7rem; line-height: 3rem; 
    text-align: left; color: rgb(85, 85, 85);     
    margin-top: 3rem;
}


/* about me section */
iframe{max-width: 100%; display: block; margin: auto;}
.background-about:before{
    content: '';
    background-color: #f4eeff; 
    position:absolute;
    left: 0;
    width: 44%;
    height: 70rem;
    margin-top: 2rem;
    border-top-right-radius: 8rem;
    z-index: -1;

}
.video{padding:5rem 0;}
img.design{max-width: 100%; width: 400px;}

/* skills section */

.skill{
    margin: 3rem auto;
    width: 140px;
    height: 140px;
    position:relative;
}
.outer{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding:20px;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7); */
}
.inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.2),
                -0.5px -0.5px 0px rgba(255,255,255,0.15),
                0.5px 0.5px 0px rgb(209, 209, 209),
                0px 8px 7px -7px rgba(99, 99, 99, 0.05);
}
.inner img{display: block; width: 35px;}
.number{
    color:rgb(116, 116, 116);
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1rem;
}
circle{
    fill:none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
}
.circle-transition{animation: anim 1.5s linear forwards;}
.circle-transition1{animation: anim1 1.2s linear forwards;}
.circle-transition2{animation: anim2 1s linear forwards;}
svg{
    position: absolute;
    top:0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 100;
    }
}
@keyframes anim1{
    100%{
        stroke-dashoffset: 135;
    }
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 240;
    }
}
.skill { grid-area: area; }
.grid-container {
    display:grid;
    grid-template-areas:
      'area area area area'
      'area area area area';
    grid-gap: 10px;
  }



/* projects section */

.cards{
    margin-top: 4rem;
   }
.card:hover{animation: animcard 0.5s ease-in-out forwards;}
@keyframes animcard{
    100%{
        margin-top: -1rem;
    }
}
.card{
    border-radius: 12px;
    /* box-shadow: 4px 4px 8px 0.5px rgb(0 0 0 / 15%), -4px -4px 7px 1px rgb(255 255 255 / 70%); */
   
}
.card .btn-primary{
    background-color: #75fbe7;
    border-color: #75fbe7;
    color: #555;
    font-size: 1.3rem;
    float: right;

}
.card .btn-primary:hover{
    background-color: #DB55ED;
    border-color: #DB55ED;
    color: #fff;
}
.card img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-title{
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

/* footer */
.footer{
    background: rgb(50,46,160);
    background: linear-gradient(90deg, rgb(50 30 97) 0%, rgb(56 10 86) 100%);
}
footer{color:#fff;}
.top{width: 7rem; position:fixed; right: 2rem; bottom: 20rem; display: none;}
.visible{display: block;}

/* modal */
h5.modal-title{
    font-size: 2.1rem;
    font-weight: bold;
}
.modal-body{
    font-size: 1.3rem;
    line-height: 2rem;
    color: #555;
}
.form-label {
    margin-bottom: 1rem;
}
.form-control {
    padding: 0.6rem 0.6rem;
    font-size: 1.3rem;
    line-height: 2;
    border-radius: 0.6rem;
}


/*/////////// responsive media queries //////////////////*/

/* lg */
@media all and (max-width: 992px) {
    html{font-size: 55%;}
    .hero-text {
        padding: 2rem 0;
    }

    header{
        background-position-x: 80%;
        margin-top: 0;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .navbar {
        position: relative;
        background: white;

}
.navbar-brand {
    color: #8c44b2;
}
.navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link2 {
    color: #8c44b2;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link2.social{display: none;}
}
/* md */
@media all and (max-width: 768px) {
    html{font-size: 50%;}
header{
    background-image: url(./images/hero-992.jpg);
    background-position-x: center;
    background-position-y: bottom;
    height: 85rem;
}
.background-about:before {
    width: 95%;
}
.grid-container {
    display:grid;
    grid-template-areas:
      'area area'
      'area area'
      'area area'
      'area area';
    grid-gap: 5px;
  }
  .card{
    max-width: 40rem;
    margin: 2rem auto;

}
.skill {
    margin: 2rem auto 0 auto;
}
}